<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HTBMSSecond</display-name>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>hs.bm.server.SendMessageListener</listener-class>
  </listener>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>hs.bm.filter.SessionFilter</filter-class>
    <init-param>
      <param-name>logonStrings</param-name>
      <param-value>/html/login.html</param-value>
    </init-param>
    <init-param>
      <param-name>includeStrings</param-name>
      <param-value>.html</param-value>
    </init-param>
    <init-param>
      <param-name>redirectPath</param-name>
      <param-value>/html/login.html</param-value>
    </init-param>
    <init-param>
      <param-name>disabletestfilter</param-name>
      <param-value>N</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>MonitorIndexServlet</display-name>
    <servlet-name>MonitorIndexServlet</servlet-name>
    <servlet-class>hs.bm.servlet.MonitorIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorIndexServlet</servlet-name>
    <url-pattern>/MonitorIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>hs.bm.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLogServlet</display-name>
    <servlet-name>GetLogServlet</servlet-name>
    <servlet-class>hs.bm.servlet.GetLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLogServlet</servlet-name>
    <url-pattern>/GetLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpLoadFileServlet</display-name>
    <servlet-name>UpLoadFileServlet</servlet-name>
    <servlet-class>hs.bm.servlet.UpLoadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadFileServlet</servlet-name>
    <url-pattern>/UpLoadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleControlServlet</display-name>
    <servlet-name>RoleControlServlet</servlet-name>
    <servlet-class>hs.bm.control.RoleControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleControlServlet</servlet-name>
    <url-pattern>/RoleControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassServlet</display-name>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ChangePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassServlet</servlet-name>
    <url-pattern>/ChangePassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMgrServlet</display-name>
    <servlet-name>UserMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.UserMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMgrServlet</servlet-name>
    <url-pattern>/UserMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDownLoadServer</display-name>
    <servlet-name>ImageDownLoadServer</servlet-name>
    <servlet-class>hs.bm.server.ImageDownLoadServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDownLoadServer</servlet-name>
    <url-pattern>/ImageDownLoadServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicCardServlet</display-name>
    <servlet-name>DicCardServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicCardServlet</servlet-name>
    <url-pattern>/DicCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicStructTypeServlet</display-name>
    <servlet-name>DicStructTypeServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicStructTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicStructTypeServlet</servlet-name>
    <url-pattern>/DicStructTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicSubStructServlet</display-name>
    <servlet-name>DicSubStructServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicSubStructServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicSubStructServlet</servlet-name>
    <url-pattern>/DicSubStructServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicComTypeServlet</display-name>
    <servlet-name>DicComTypeServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicComTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicComTypeServlet</servlet-name>
    <url-pattern>/DicComTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicMemTypeServlet</display-name>
    <servlet-name>DicMemTypeServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicMemTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicMemTypeServlet</servlet-name>
    <url-pattern>/DicMemTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicDefectServlet</display-name>
    <servlet-name>DicDefectServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicDefectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicDefectServlet</servlet-name>
    <url-pattern>/DicDefectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicEval11Servlet</display-name>
    <servlet-name>DicEval11Servlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicEval11Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicEval11Servlet</servlet-name>
    <url-pattern>/DicEval11Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicBridgeStructServlet</display-name>
    <servlet-name>DicBridgeStructServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicBridgeStructServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicBridgeStructServlet</servlet-name>
    <url-pattern>/DicBridgeStructServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicMemEvalServlet</display-name>
    <servlet-name>DicMemEvalServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicMemEvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicMemEvalServlet</servlet-name>
    <url-pattern>/DicMemEvalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicMemMemberTypeServlet</display-name>
    <servlet-name>DicMemMemberTypeServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicMemMemberTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicMemMemberTypeServlet</servlet-name>
    <url-pattern>/DicMemMemberTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicCommonDefectServlet</display-name>
    <servlet-name>DicCommonDefectServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicCommonDefectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicCommonDefectServlet</servlet-name>
    <url-pattern>/DicCommonDefectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LineMgrServlet</display-name>
    <servlet-name>LineMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.LineMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineMgrServlet</servlet-name>
    <url-pattern>/LineMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrgMgrServlet</display-name>
    <servlet-name>ManageOrgMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ManageOrgMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrgMgrServlet</servlet-name>
    <url-pattern>/ManageOrgMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageZoneMgrServlet</display-name>
    <servlet-name>ManageZoneMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ManageZoneMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageZoneMgrServlet</servlet-name>
    <url-pattern>/ManageZoneMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSectionMgrServlet</display-name>
    <servlet-name>ManageSectionMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ManageSectionMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSectionMgrServlet</servlet-name>
    <url-pattern>/ManageSectionMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefReferenceServlet</display-name>
    <servlet-name>DefReferenceServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DefReferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefReferenceServlet</servlet-name>
    <url-pattern>/DefReferenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StructMgrServlet</display-name>
    <servlet-name>StructMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.StructMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StructMgrServlet</servlet-name>
    <url-pattern>/StructMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrjMgrServlet</display-name>
    <servlet-name>PrjMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.PrjMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrjMgrServlet</servlet-name>
    <url-pattern>/PrjMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBridgeServlet</display-name>
    <servlet-name>CheckBridgeServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CheckBridgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBridgeServlet</servlet-name>
    <url-pattern>/CheckBridgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUpLoadServer</display-name>
    <servlet-name>ImageUpLoadServer</servlet-name>
    <servlet-class>hs.bm.server.ImageUpLoadServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUpLoadServer</servlet-name>
    <url-pattern>/ImageUpLoadServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSpanServlet</display-name>
    <servlet-name>CheckSpanServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CheckSpanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSpanServlet</servlet-name>
    <url-pattern>/CheckSpanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPassServlet</display-name>
    <servlet-name>CheckPassServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CheckPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPassServlet</servlet-name>
    <url-pattern>/CheckPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPassSpanServlet</display-name>
    <servlet-name>CheckPassSpanServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CheckPassSpanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPassSpanServlet</servlet-name>
    <url-pattern>/CheckPassSpanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrgCardServlet</display-name>
    <servlet-name>BrgCardServlet</servlet-name>
    <servlet-class>hs.bm.servlet.BrgCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrgCardServlet</servlet-name>
    <url-pattern>/BrgCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CulCardServlet</display-name>
    <servlet-name>CulCardServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CulCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CulCardServlet</servlet-name>
    <url-pattern>/CulCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewBrgServlet</display-name>
    <servlet-name>NewBrgServlet</servlet-name>
    <servlet-class>hs.bm.servlet.NewBrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBrgServlet</servlet-name>
    <url-pattern>/NewBrgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCulvertServlet</display-name>
    <servlet-name>CheckCulvertServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CheckCulvertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCulvertServlet</servlet-name>
    <url-pattern>/CheckCulvertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCulvertSpanServlet</display-name>
    <servlet-name>CheckCulvertSpanServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CheckCulvertSpanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCulvertSpanServlet</servlet-name>
    <url-pattern>/CheckCulvertSpanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileManageServlet</display-name>
    <servlet-name>FileManageServlet</servlet-name>
    <servlet-class>hs.bm.servlet.FileManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileManageServlet</servlet-name>
    <url-pattern>/FileManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eval04Servlet</display-name>
    <servlet-name>Eval04Servlet</servlet-name>
    <servlet-class>hs.bm.servlet.Eval04Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eval04Servlet</servlet-name>
    <url-pattern>/Eval04Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eval11Servlet</display-name>
    <servlet-name>Eval11Servlet</servlet-name>
    <servlet-class>hs.bm.servlet.Eval11Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eval11Servlet</servlet-name>
    <url-pattern>/Eval11Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrgMemberServlet</display-name>
    <servlet-name>BrgMemberServlet</servlet-name>
    <servlet-class>hs.bm.servlet.BrgMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrgMemberServlet</servlet-name>
    <url-pattern>/BrgMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CulMbrServlet</display-name>
    <servlet-name>CulMbrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CulMbrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CulMbrServlet</servlet-name>
    <url-pattern>/CulMbrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasMbrServlet</display-name>
    <servlet-name>PasMbrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.PasMbrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasMbrServlet</servlet-name>
    <url-pattern>/PasMbrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppDownloadServices</display-name>
    <servlet-name>AppDownloadServices</servlet-name>
    <servlet-class>hs.bm.server.AppDownloadServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppDownloadServices</servlet-name>
    <url-pattern>/AppDownloadServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppDownloadServices2</display-name>
    <servlet-name>AppDownloadServices2</servlet-name>
    <servlet-class>hs.bm.server.AppDownloadServices2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppDownloadServices2</servlet-name>
    <url-pattern>/AppDownloadServices2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>hs.bm.servlet.StatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/StatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFDownLoadServer</display-name>
    <servlet-name>PDFDownLoadServer</servlet-name>
    <servlet-class>hs.bm.server.PDFDownLoadServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFDownLoadServer</servlet-name>
    <url-pattern>/PDFDownLoadServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChkAuditServlet</display-name>
    <servlet-name>ChkAuditServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ChkAuditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChkAuditServlet</servlet-name>
    <url-pattern>/ChkAuditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvalAuditServlet</display-name>
    <servlet-name>EvalAuditServlet</servlet-name>
    <servlet-class>hs.bm.servlet.EvalAuditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvalAuditServlet</servlet-name>
    <url-pattern>/EvalAuditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecVisServlet</display-name>
    <servlet-name>DecVisServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DecVisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecVisServlet</servlet-name>
    <url-pattern>/DecVisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportMgrServlet</display-name>
    <servlet-name>ReportMgrServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ReportMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportMgrServlet</servlet-name>
    <url-pattern>/ReportMgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeightHealthServlet</display-name>
    <servlet-name>WeightHealthServlet</servlet-name>
    <servlet-class>hs.bm.servlet.WeightHealthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeightHealthServlet</servlet-name>
    <url-pattern>/WeightHealthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DicMemberStandardServlet</display-name>
    <servlet-name>DicMemberStandardServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DicMemberStandardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DicMemberStandardServlet</servlet-name>
    <url-pattern>/DicMemberStandardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackUpServlet</display-name>
    <servlet-name>BackUpServlet</servlet-name>
    <servlet-class>hs.bm.servlet.BackUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackUpServlet</servlet-name>
    <url-pattern>/BackUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsServlet</display-name>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/ContactUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescripDownloadServices</display-name>
    <servlet-name>DescripDownloadServices</servlet-name>
    <servlet-class>hs.bm.server.DescripDownloadServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescripDownloadServices</servlet-name>
    <url-pattern>/DescripDownloadServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTestDataTable</display-name>
    <servlet-name>MyTestDataTable</servlet-name>
    <servlet-class>hs.bm.servlet.MyTestDataTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTestDataTable</servlet-name>
    <url-pattern>/MyTestDataTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryProJectServlet</display-name>
    <servlet-name>HistoryProJectServlet</servlet-name>
    <servlet-class>hs.bm.servlet.HistoryProJectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryProJectServlet</servlet-name>
    <url-pattern>/HistoryProJectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrgManagerServlet</display-name>
    <servlet-name>OrgManagerServlet</servlet-name>
    <servlet-class>hs.bm.servlet.OrgManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgManagerServlet</servlet-name>
    <url-pattern>/OrgManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>hs.bm.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModelDefectServices</display-name>
    <servlet-name>ModelDefectServices</servlet-name>
    <servlet-class>hs.bm.server.ModelDefectServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelDefectServices</servlet-name>
    <url-pattern>/ModelDefectServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrentControlServlet</display-name>
    <servlet-name>CurrentControlServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CurrentControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentControlServlet</servlet-name>
    <url-pattern>/CurrentControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSpanDailyServlet</display-name>
    <servlet-name>CheckSpanDailyServlet</servlet-name>
    <servlet-class>hs.bm.servlet.CheckSpanDailyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSpanDailyServlet</servlet-name>
    <url-pattern>/CheckSpanDailyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyChkAuditServlet</display-name>
    <servlet-name>DailyChkAuditServlet</servlet-name>
    <servlet-class>hs.bm.servlet.DailyChkAuditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyChkAuditServlet</servlet-name>
    <url-pattern>/DailyChkAuditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumVehiServlet</display-name>
    <servlet-name>NumVehiServlet</servlet-name>
    <servlet-class>hs.bm.servlet.NumVehiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumVehiServlet</servlet-name>
    <url-pattern>/NumVehiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>hs.bm.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFileServlet</display-name>
    <servlet-name>GetFileServlet</servlet-name>
    <servlet-class>hs.bm.servlet.GetFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileServlet</servlet-name>
    <url-pattern>/GetFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index2Servlet</display-name>
    <servlet-name>Index2Servlet</servlet-name>
    <servlet-class>hs.bm.servlet.Index2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index2Servlet</servlet-name>
    <url-pattern>/Index2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrgMonitorServlet</display-name>
    <servlet-name>BrgMonitorServlet</servlet-name>
    <servlet-class>hs.bm.servlet.BrgMonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrgMonitorServlet</servlet-name>
    <url-pattern>/BrgMonitorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>hs.bm.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetBrgSessionServlet</display-name>
    <servlet-name>SetBrgSessionServlet</servlet-name>
    <servlet-class>hs.bm.servlet.SetBrgSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetBrgSessionServlet</servlet-name>
    <url-pattern>/SetBrgSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestPointServlet</display-name>
    <servlet-name>TestPointServlet</servlet-name>
    <servlet-class>cn.org.hsxx.servlet.TestPointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPointServlet</servlet-name>
    <url-pattern>/TestPointServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicDataServlet</display-name>
    <servlet-name>BasicDataServlet</servlet-name>
    <servlet-class>cn.org.hsxx.servlet.BasicDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicDataServlet</servlet-name>
    <url-pattern>/BasicDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportExcel</display-name>
    <servlet-name>ExportExcel</servlet-name>
    <servlet-class>hs.bm.servlet.ExportExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcel</servlet-name>
    <url-pattern>/ExportExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportExcel2</display-name>
    <servlet-name>ExportExcel2</servlet-name>
    <servlet-class>hs.bm.servlet.ExportExcel2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcel2</servlet-name>
    <url-pattern>/ExportExcel2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonitorReportServlet</display-name>
    <servlet-name>MonitorReportServlet</servlet-name>
    <servlet-class>hs.bm.servlet.MonitorReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorReportServlet</servlet-name>
    <url-pattern>/MonitorReportServlet</url-pattern>
  </servlet-mapping>
</web-app>